* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3882F6;
  --dark: #1F2937;
  --white: #F9FAF8;
  --gray: #E5E7EB;
}

body {
  font-family: "Roboto", sans-serif;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: var(--dark);
  padding: 12px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header .logo {
  color: var(--white);
  font-size: 24px;
}

header ul {
  display: flex;
  color: var(--gray);
  gap: 16px;
}

.hero {
  background-color: var(--dark);
  padding: 80px 0;
}

.hero .container {
  display: flex;
  gap: 48px;
  align-items: center;
}

.hero h1 {
  color: var(--white);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 8px;
}

.hero p {
  color: var(--gray);
  margin-bottom: 16px;
}

.hero .btn {
  display: inline-block;
  color: var(--white);
  background-color: var(--blue);
  padding: 8px 24px;
  border-radius: 8px;
}

.hero img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.left,
.right {
  flex: 1;
}

.info {
  background-color: var(--white);
  color: var(--dark);
  padding: 80px 0;
}

.info .container {
  text-align: center;
}

.info h3 {
  font-size: 36px;
  font-weight: 900;
  margin: 32px;
}

.cards {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.card {
  width: 200px;
}

.card img {
  width: 100%;
  border: 4px solid var(--gray);
  border-radius: 8px;
  margin-bottom: 8px;
}

.card p {
  text-align: center;
}

.quote {
  background-color: var(--gray);
  color: var(--dark);
  padding: 80px 0;
}

.quote .container {
  width: 930px;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
}

.quote .author {
  font-size: 20px;
  font-weight: bold;
  text-align: end;
}

.cta {
  background-color: var(--white);
  color: var(--white);
  padding: 80px 0;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  padding: 48px 96px;
  border-radius: 8px;
}

.cta-btn a {
  display: inline-block;
  padding: 8px 24px;
  border: 2px solid var(--white);
  border-radius: 8px;
}

.cta-text p {
  color: var(--gray);
  margin-top: 8px;
}

footer {
  background-color: var(--dark);
  color: var(--gray);
  text-align: center;
  padding: 32px 0;
}